html, body {
    margin: 0;
    padding: 0;
    
  }

  
.b342 a{
    color:#7c7c7c80;
    text-decoration:none;
}

.b342 a:hover{
    color:#028090;
    text-decoration:none;
}

.author .Avatar {
    border-style: solid;
    border-color: #7c7c7c80;
    border-width:1px;
    max-width:150px;
    max-height:150px;
    width:auto;
    height:auto;

}

.name {
    color: #114B5F;
    text-align: center;
    letter-spacing: 2px;
    font-weight: bold;
    margin-bottom:0px;
}

.author svg{
    color: #114B5F;
    width:20px;
    height:20px;
    margin:5px 10px 5px 0px;
}

.author p{
    margin:5px 0 5px 0;
}

.b2{
    background-color:#F45B69 ;
    color: #ffffff
}

.b2:hover{
    background-color:#456990 ;
    color: #ffffff
}

