#a2 {
  font-size: 40px;
  color: #ffffff;
}

.a2 li:hover {
  background-color:#0c8d9e;
  color: #ffffff;
}

.a2 li:active {
  background-color: #F45B69;
  color: #ffffff;
}

footer {
  height: 200px; /*設定footer本身高度*/
  margin-top:150px; /*隨footer高度需做調整*/
  background-color: #0c8d9e;
}

footer p{
  padding: 50px;
  color: #ffffff;
}

.active{
  background-color: #0c8d9e;
  color: #ffffff;
}

button.active{
  border-width:0px;
}