/*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-button {
  border-radius: px;
  background: #00000000;
}

::-webkit-scrollbar-track-piece {
  background: #05050500;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.267);
  border: 5px solid rgba(184, 53, 53, 0);
}

::-webkit-scrollbar-thumb:hover {
  border-radius: 5px;
  background-color: rgba(204, 204, 204, 0.603);
  border: 5px solid rgba(184, 53, 53, 0);
}

::-webkit-scrollbar-track {
  box-shadow: transparent;
}*/

#a2 {
  font-size: 40px;
  color: #ffffff;
}

.a2 li:hover {
  background-color: #0c8d9e;
  color: #ffffff;
}

.a2 li:active {
  background-color: #F45B69;
  color: #ffffff;
}

#a3 {
  background-color: #F45B69;
  color: #ffffff;
}

#a3:hover {
  background-color: #f17f89;
  color: #ffffff;
}

#a3:active {
  background-color: #456990;
  color: #ffffff;
}

footer {
  height: auto;
  /*設定footer本身高度*/
  margin-top: 250px;
  /*隨footer高度需做調整*/
  background-color: #0c8d9e;
  color: #ffffff;
}

footer p {
  padding: 10px;
  color: #ffffff;
}


footer svg {
  width: 20px;
  height: 20px;
}

button.active {
  border-width: 0px;
}

#svg123 svg{
  color:#114B5F;
  width: 30px;
  height: 30px;
}

#svg123 a{
  text-align:right;
}

.b3 a{
  color: #ffffff
}

.b3 a:hover{
  background-color: #114B5F;
  color: #ffffff
}