body {
  overflow: overlay;
  margin: 100px 0px 0px 0px;
  padding: 0;
}

::-webkit-scrollbar {

  width: 8px;
  height: 8px;

}

::-webkit-scrollbar-button {
  border-radius: 0px;
  background: #00000000;

}

::-webkit-scrollbar-track-piece {

  background: #05050500;

}

::-webkit-scrollbar-thumb {

  border-radius: 5px;


  background-color: rgba(0, 0, 0, 0.267);

  border: 5px solid rgba(184, 53, 53, 0);

}

::-webkit-scrollbar-thumb:active {

  border-radius: 5px;


  background-color: #0c8d9e;

  border: 5px solid rgba(184, 53, 53, 0);

}

::-webkit-scrollbar-track {

  box-shadow: transparent;

}

#a2 {
  font-size: 40px;
  color: #ffffff;
}

.a2 li:hover {
  background-color: #0c8d9e;
  color: #ffffff;
}

.a2 li:active {
  background-color: #F45B69;
  color: #ffffff;
}

footer {
  height: 200px;
  /*設定footer本身高度*/
  margin-top: 150px;
  /*隨footer高度需做調整*/
  background-color: #0c8d9e;
}

footer p {
  padding: 50px;
  color: #ffffff;
}

.active {
  background-color: #0c8d9e;
  color: #ffffff;
}

button.active {
  border-width: 0px;
}